/* Estilos Gerais */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  color: #333;
}

header {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1, h2, h3 {
  margin-bottom: 10px;
}

/* Seção Sobre */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 1200px;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.about-text {
  max-width: 600px;
  margin-left: 40px;
}

/* Estilos da Seção de Produtos */
.products {
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  text-align: center;
}

.products h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-content: center;
}

.product-card {
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.product-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.product-card img {
  width: 100%;
  display: block;
  transition: transform 0.3s ease;
}

.product-card:hover img {
  transform: scale(1.05);
}

.product-details {
  padding: 15px;
  text-align: left;
}

.product h3 {
  color: #333;
  margin: 10px 0;
}

.product-description {
  color: #555;
  margin-bottom: 15px;
  font-size: 0.9em;
}

button.add-to-cart {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s;
}

button.add-to-cart:hover {
  background-color: #45a049;
  transform: scale(1.05);
}


button.add-to-cart {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s;
}

button.add-to-cart:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

/* Rodapé */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}

/* Media Queries */
@media screen and (max-width: 1023px) {
  .about, .header-content, .product {
    flex-direction: column;
    text-align: center;
  }

  .about-text, .product {
    margin-left: 0;
  }
}

@media screen and (max-width: 640px) {
  .products {
    flex-direction: column;
  }
}
